<div class="event_picker tab_panel">
    <h1>What are YOU doing {{nightOf date}}?</h1>

    {{#if selected_event}}
    <h3>Select a category below. You can change your selection at any time.</h3>
    {{/if}}

    <div class="pre_event_selection">

			<ul class="tabs">
	            <li>
	                <a href="#bar_club" class="selected">
	                    Bar/Club
	                </a>
					<div class="arrow"></div>
	            </li>
	            <li>
	                <a href="#house_party">
	                    Party
	                </a>
					<div class="arrow"></div>
	            </li>
	            <li>
	                <a href="#other">
	                    Other
	                </a>
					<div class="arrow"></div>
	            </li>
	            <li>
	                <a href="#undecided">
	                    Not Sure Yet?
	                </a>
					<div class="arrow"></div>
	            </li>
	        </ul>

        <div class="bar_club pane">
            {{include "event-list" type="bar,club" date=date events=events selected_event=selected_event
                      explanation="<em>Bar/Club</em>: Select the bar/club you are thinking of going to. (You can change your selection at any time)"}}
        </div>

        <div class="house_party pane">
            {{include "event-list" type="house_party" date=date events=events selected_event=selected_event
                      explanation="<em>Party</em>: Add a party below or select the one you're going to. (You can change your selection at any time)"}}
        </div>

        <div class="other pane">
            {{include "event-list" type="other" date=date events=events selected_event=selected_event
                      explanation="<em>Other</em>: Doing something else? Add it to the list below. (You can change your selection at any time)"}}
        </div>

        {{include "undecided-pane" date=date}}

    </div>

    {{#if selected_event}}
    <div class="event_selection">
        <div class="left">
            <!--<img src="<?= $profile_picture_url ?>" />-->
            <div class="going_to">
                {{selected_event.name}}
            </div>
        </div>
        <div class="event_selection_summary">
            <ul>
                <li><a class="switch" href="#switch">switch event</a></li>
                {{#if selected_event.deal}}
                    <li>
                        <a class="action show_deal_link " href="/events/{{selected_event.id}}/deal">claim deal</a>
                    </li>
                {{/if}}

                <li>
                    <a class="action event_invite_link" href="/events/{{selected_event.id}}/invite">
                        <div>invite friends</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {{/if}}

</div>
