<form method="post" action="/checkin" class="event_option new_event">

    <input type="hidden" name="event_id" value="new" />
    <input type="hidden" name="type" value="{{type}}" />

    <div class="place">
        <input type="hidden" name="event[date]" value='{{formatDate date format="Y-m-d"}}' />
        <input type="text" name="event[name]" value=""
               class="inline_label" autocomplete="off"
               title="Add your own" />

    </div>

    <div class="badge">
        <input type="submit" name="op" class="add_event" value="add" />
    </div>

</form>
