# netbeans project files
nbproject
# PhpStorm project files
.idea

# temp files
tmp/*
# Except for the .htaccess that blocks public access to temp files
!tmp/.htaccess

# cache files
cache/*
# Except for the .htaccess that blocks public access to the cache
!cache/.htaccess

# pics
www/pics
!www/pics/.htaccess

# tickets
www/tickets
!www/tickets/.htaccess

# mr contacts data
scripts/mrcontacts/data/*
