.shadow (@x: 1px, @y: 1px, @blur: 3px, @spread: 1px, @color: #dedede) {
  -webkit-box-shadow: @x @y @blur @spread @color;
  -moz-box-shadow: @x @y @blur @spread @color;
  box-shadow: @x @y @blur @spread @color;
}

.rounded (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.opacity(@opacity: 1) {
  /* Netscape */
  -moz-opacity: @opacity;
  /* Safari 1.x */
  -khtml-opacity: @opacity;
  /* Good browsers */
  opacity: @opacity;
}

.box-sizing(@value) {
  box-sizing: @value;
  -webkit-box-sizing: @value;
  -moz-box-sizing: @value;
  -ms-box-sizing: @value;
}

h1, h2, h3, h4, h5 {
  font-family: "Lucida Grande", Arial, sans-serif;
}

h1 {
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 6px 0px 6px 10px ;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

button {
  font-size: 12px;
}

label {
  font-weight: bold;
  margin: 0 10px 0 0;
}

input {
  margin: 0 0 0 0;
}

select {
}

select.empty {
  width: 80px;
}

p {
  margin: 5px 0 5px 0;
}

ul {
  list-style: none;
}

strong { text-decoration: underline; }

.frame {
  display: inline-block;
  background: white;
  padding: 5px;
  border: solid 2px #DDD;
}

.message {
  padding: 6px 0;
  color: #333;
  background-color: #FEF7CB;
  border: 1px solid transparent;
  border-color: #FFE475;
  .rounded(2px);
  .shadow(1px, 1px, 3px, 0px, #dedede);
  font-weight: bold;
  text-align: center;
}

.missing input, .missing select {
  outline: 2px solid red;
}

form {
  ul { list-style: none; }
  li { margin: 10px; padding: 10px; }
}

.submit_button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ededed;

  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  background-color: #dfdfdf;

  border: 1px solid #8F8F8F;
  display: inline-block;
  color: #444;
  padding: 2px 5px;
  text-decoration: none;
  text-shadow:1px 1px 0px #ffffff;
  font-size: 12px;
  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  }
  &:active {
    position: relative;
    top: 2px;
  }
  &[disabled="disabled"] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    background-color: #F7F7F7;
  }
}

#notice {
  display: none;
  position: absolute;
  
  padding: 6px 10px;
  color: #333;
  font-weight: bold;
  background-color: #FEF7CB;

  z-index: 9100;
  .rounded(2px);
  .shadow(1px, 1px, 3px, 0px, #dedede);
  margin: 10px;
  text-align: center;
}

.online_badge {
  @badge_size: 9px;
  background-color: #228B22;
  color: #fff;
  box-shadow: 0px 1px 3px #ccc;
  -moz-box-shadow: 0px 1px 3px #ccc;
  -webkit-box-shadow: 0px 1px 3px #ccc;
  padding: 0;
  margin: 0 -(@badge_size + 2px) 0 2px;
  text-align: center;
  text-shadow: 0px -1px 1px #e01b0f;
  min-width: @badge_size;
  height: @badge_size;
  .rounded(@badge_size / 2);
  font-weight: bold;
  font-size: 8px;
  display: inline-block;
  text-indent: -99999px;
  cursor: pointer;
}

.help {
    cursor: help;
    @size: 16px;
    width: @size;
    height: @size;
    display: inline-block;
    text-indent: -9999px;
    line-height: @size;
    background: url(../images/question_mark_dark.png) no-repeat center;
}

.serverinbox { display: none; }
