#my_info_edit_view .section_body {
  margin: 0;
}

#edit_form {
  margin: 20px 20px;
  overflow: hidden;
}

#edit_form .my_info {
  float: left;
  border-right: 1px dotted grey;
  padding-right: 30px;
}

#edit_form .my_pic {
  float: right;
  border-left: 1px dotted grey;
  border-left: 30px;
}

#edit_form .form_buttons {
  float: right;
  clear: both;
}

#crop {
  display: inline-block;
}

#crop_preview {
  display: inline-block;
  width: 105px;
  height: 140px;
  overflow: hidden;
}

#crop_preview_frame {
  margin-left: 30px;
}
