#container {
  margin: 10px auto;
  width: 1000px;
}

section > h1 {
  background-color: #104E8C;
  color: white;
  font-size: 1.3em;
}

h1 {
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 5px 0px 5px 10px ;
}

button {
  font-size: 12px;
}

label {
  margin: 0 10px 0 0;
}

input[type=text][disabled] {
  color: black;
}

.message {
  margin: 10px 10px 0 10px;
  padding: 6px 10px;
  color: #333;
  background-color: #FEF7CB;
  border: 1px solid transparent;
  border-color: #FFE475;
  border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
  font-weight: bold;
  text-align: center;
}

form ul {
  list-style: none;
}

form li {
  margin: 10px;
  padding: 10px;
}

.where_did_you_go {
  font-size: 1.4em;
}

p {
  margin: 5px 0 5px 0;
  font-size: 1.1em;
}

header {
  overflow: hidden;
  margin: 0px 11px;
  padding: 20px 20px 15px 20px;
  background-color: #104E8C;
  color: white;
  -webkit-box-shadow: 1px 1px 3px 2px #dedede;
  -moz-box-shadow: 1px 1px 3px 2px #dedede;
  box-shadow: 1px 1px 3px 2px #dedede;
}

header a,
header a:active,
header a:visited {
  color: white;
}

section {
  clear: both;
  border: 1px solid;
  margin: 15px 10px 15px 10px;
  padding-bottom: 10px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 3px 2px #dedede;
  -moz-box-shadow: 1px 1px 3px 2px #dedede;
  box-shadow: 1px 1px 3px 2px #dedede;
}
.section_content {
  margin: 25px 25px;
  overflow: hidden;
}

#welcome-message {
  clear: both;
  width: 100%;
  text-align: center;
}

#logo {
  margin: 0;
  font-family: Tahoma;
  float: left;
  font-size: 2.2em;
}
#logo a {
  text-decoration: none;
}

#menu {
  font-family: Arial;
  float: right;
  font-size: 1.3em;
}

#menu li {
  display: inline-block;
  margin: 10px;
}

#about li {
  margin: 5px 0 5px 0;
}

.profile_pic {
  float: left;
  font-size: 0.8em;
  text-align: center;
  padding-right: 1em;
}

.caption {
 font-size: .9em;
}

.gallery {
  text-align: left;
  margin: 0;
}

.gallery li {
  display: inline-block;
  margin: 16px;
  text-align: center;
}

.date {
  font-weight: bold;
  font-size: 1.1em;
  display: inline-block;
}

.place {
  font-weight:bold;
  font-size: 1.1em;
  display: inline-block;
}

.smiles {
  margin: 10px 0 0 0;
}

.smiles_received {
  display: inline-block;
  width: 250px;
  margin-left: 10px;
}

.smiles_remaining {
  display: inline-block;
  width: 200px;
}

.matches {
  display: inline-block;
}

ul.parties_attended {
  margin: 0;
}

ul.parties_attended li {
  display: block;
}

.party_summary {
  border-bottom: 1px dotted grey;
  margin: 10px;
  padding: 10px;
}

.last_night {
  border-bottom: 1px dotted grey;
  margin: 10px;
  padding: 10px;
}

.recent_attendees li {
  display: inline-block;
  margin: 10px;
}

section .notice {
  float: right;
  font-style: italic;
  font-size:.9em;
}

#my_info_view {
  width: 35%;
  height: 280px;
  float: left;
  clear: none;
}

#last_night_view {
  width: 60.5%;
  height: 280px;
  float: left;
}

.about {
  padding: 0em 0em 1em 0em;
  border-bottom: 1px solid black;
  font-size: 1em;
}

.homepage_list {
  font-size: 1.1em;
}

.to_get_started {
  padding: 1em 0em 0em 0em;
}

#party_admin {
  font-size:1em;
  font-style:italic;
  float:right;
}

#user_caption {
  font-size:1em;
}

#email_section {
  padding: 1em 0em 1em 2em;
}

.dialog {
  display: none;
  color: black;
  position: absolute;
  background: white;
  padding: 20px;
  z-index: 9100;
  background-position: initial initial;
  background-repeat: initial initial;
  box-shadow: black 0px 0px 15px;
  -webkit-box-shadow: black 0px 0px 15px;
}

.dialog_buttons {
  text-align: center;
  margin: 15px 0;
}

.dialog_buttons a {
  font-size: 25px;
  text-decoration: none;
  margin: 0 25px;
  font-weight: bold;
}

.dialog h1 {
  text-align: center;
  margin: 0;
}

.dialog_body {
  text-align: center;
  margin: 20px 0;
}

#checkin_form {
  display: inline-block;
  margin-right: 10px;
}

.closing_time {
  display: inline-block;
}

.frame {
  display: inline-block;
  background: white;
  padding: 5px;
  border: solid 2px #DDD;
}

#my_info_edit_view .section_content {
  margin: 0;
}

#edit_form {
  margin: 20px 20px;
  overflow: hidden;
}

#edit_form .my_info {
  float: left;
}

#edit_form .my_pic {
  float: right;
}

#edit_form .form_buttons {
  float: right;
  clear: both;
}

#crop {
  display: inline-block;
}

#crop_preview {
  display: inline-block;
  width: 105px;
  height: 140px;
  overflow: hidden;
}

#crop_preview_frame {
  margin-left: 30px;
}

.login_gallery li {
  display: inline-block;
  text-align: center;
  margin: 15px;
}

#current_time {
  position: fixed;
  font-weight: bold;
  left: 25px;
  top: 25px;
}

table td, table th {
  border: 1px solid;
  padding: 10px;
}

.mutual_friends {
  overflow: hidden;
}

.mutual_friends li {
  display: block;
  float: left;
  clear: both;
  margin: 5px;
}

.mutual_friends .thumb {
  float: left;
  margin: 5px;
}

.mutual_friends .full_name {
  float: left;
  line-height: 50px;
  margin: 5px;
}

.friends_popup .dialog_body {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.no_friends_in_common {
  line-height: 40px;
  font-size: 1.2em;
  margin: 25px;
}

.where_friends_went > li {
  display: none;
}

.where_friends_went > .selected {
  display: block;
}

.party_tab {
}

.where_friends_went {
  float: right;
  display: block;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 215px;
  max-width: 400px;
}

.party_tab {
  height: 150px;
  width: 1500px;
  margin: 0;
  list-style: none;
}

.party_tab li {
  display: block;
  float: left;
  margin: 10px;
  text-align: center;
}

.friendschart {
  float: left;
}

.where_friends_went_section .section_content {
  margin: 0;
}

.sortbar li {
  display: inline-block;
  font-size: 15px;
  margin: 10px;
}

.sortbar .selected {
  font-weight: bold;
}

.important_notice {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}

.missing input, .missing select {
  outline: 2px solid red;
}

.hometown_info > div {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
}

#upcoming_parties_view .party_list {
  float: left;
  margin-left: 5%;
  width: 28%;
  height: 90px;
  border-right: 1px dotted grey;
}

#upcoming_parties_view .party_list:last-child {
  border-right: none;
}

.party_list ul {
  margin-left: 40px;
}

.as-result-item {
  display: block;
  overflow: auto;
}

.as-result-item > * {
  float: left;
}

.as-result-item span {
  line-height: 50px;
}

#friends_view .section_content {
  position: relative;
}

#friends_view .invite_friends {
  position: absolute;
  right: 0;
  bottom: 0;
}

.friends.autocomplete {
  width: 300px;
  height: 35px;
}

.invite_friends .submit_button {
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

.invite_friends > * {
  float: left;
}

.section_content h1 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}
