@bar_color: #104e8c;
@bar_text_color: white;
@page_width: 1000px;

@import 'elements.less';
@import 'profile.less';
@import 'dialog.less';

.shadow {
  -webkit-box-shadow: 1px 1px 3px 2px #dedede;
  -moz-box-shadow: 1px 1px 3px 2px #dedede;
  box-shadow: 1px 1px 3px 2px #dedede;
}

.rounded (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.opacity(@opacity: 1) {
  /* Netscape */
  -moz-opacity: @opacity;
  /* Safari 1.x */
  -khtml-opacity: @opacity;
  /* Good browsers */
  opacity: @opacity;
}

.heading_bar {
  background-color: @bar_color;
  color: white;
  -webkit-box-shadow: 0px 1px 2px 2px #dedede;
  -moz-box-shadow: 0px 1px 2px 2px #dedede;
  box-shadow: 0px 1px 2px 2px #dedede;
}

section {
  .shadow;
  clear: both;
  border: 1px solid;
  margin: 15px 10px 15px 10px;
  padding-bottom: 10px;
  overflow: hidden;
  > h1 { .heading_bar; }
  .section_body {
    margin: 25px 25px 15px 25px;
    overflow: hidden;
  }
}

.dialog {
  padding: 0;
  width: 400px;
  > h1 { .heading_bar; }
  .dialog_body {
    margin: 20px;
    text-align: left;
  }
  .dialog_buttons a {
    font-size: 13px;
    background-color: lighten(@bar_color, 5%);
    border-color: #29447E #29447E #1A356E;
    color: white;
    padding: 5px 10px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  }
}

.horizontal_gallery {
  > li {
    display: inline-block;
    margin: 8px;
  }
}

body {
  font-family: "Lucida Grande", Arial, sans-serif;
}

#container {
  margin: 10px auto;
  width: @page_width;
}

input[type=text][disabled] {
  color: black;
}

header {
  .shadow;
  overflow: hidden;
  margin: 0px 11px;
  padding: 20px 20px 15px 20px;
  background-color: @bar_color;
  color: @bar_text_color;
  #logo {
    margin: 0;
    float: left;
    a { text-decoration: none; }
  }
  a, a:active, a:visited { color: @bar_text_color; }
  nav {
    float: right;
    a {
      display: inline-block;
      margin: 10px;
    }
  }
}

.last_night_view {
  width: 60.5%;
  height: 240px;
  float: left;
  h2 { font-size: 150%; }
  .recent_attendees {
    .horizontal_gallery;
    img { width: 90px; }
  }
}

.my_info_view {
  width: 35%;
  height: 240px;
  float: left;
  clear: none;
  .profile_pic {
    position: relative;
    float: left;
    img { width: 130px; }
    .edit {
      position: absolute;
      background-color: black;
      background-image: url(../images/pencil.png);
      background-repeat: no-repeat;
      background-position: 9px 50%;
      color: white;
      height: 20px;
      opacity: .5;
      padding: 4px 6px 0 26px;
      bottom: 3px;
      right: 1px;
      text-decoration: none;
      &:hover { text-decoration: underline; opacity: 1; }
    }
  }
  .profile_info {
    float: right;
    max-width: 125px;
  }
}

.top_parties_view {
  ol { margin: 10px 45px; }
}

.parties_attended_view {
  .date, .divider, .place {
    display: inline-block;
  }
  .place { font-weight: bold; }
  .parties_attended > li:first-child { padding-top: 0; }
  .parties_attended > li {
    padding: 20px 0 10px 0;
    border-bottom: 1px dotted grey;
  }
  .notices {
    margin-top: 10px;
    .smiles_received { display: inline-block; width: 200px; }
    .smiles_left { display: inline-block; width: 200px; }
    .smile_matches { display: inline-block; }
  }
}

#checkin_form {
  display: inline-block;
  margin-right: 10px;
}

.closing_time {
  display: inline-block;
}

.login_gallery li {
  display: inline-block;
  text-align: center;
  margin: 15px;
}

#current_time {
  position: fixed;
  font-weight: bold;
  left: 25px;
  top: 25px;
}

table td, table th {
  border: 1px solid;
  padding: 10px;
}

.mutual_friends {
  overflow: hidden;
  li {
    display: block;
    float: left;
    clear: both;
    margin: 5px;
  }
  .thumb {
    float: left;
    margin: 5px;
  }
  .full_name {
    float: left;
    line-height: 50px;
    margin: 5px;
  }
}

.friends_popup .dialog_body {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.where_friends_went > li {
  display: none;
}

.where_friends_went > .selected {
  display: block;
}

.sortbar {
  li {
    display: inline-block;
    font-size: 15px;
    margin: 10px;
  }
  .selected { font-weight: bold; }
}

.friends_view {
  .section_body {
    position: relative; margin-left: 0;
    h3, .where_friends_went_past { margin-left: 34px; }
  }
  .invite_friends {
    position: absolute;
    right: 0;
    bottom: 0;
    > * { float: left; }
    .friends.autocomplete { width: 300px; height: 23px; }
    .autocomplete_list_item { padding: 0 12px; }
    .submit_button { height: 29px; }
  }
  .tabs {
    float: right;
    margin: 50px 0 30px 0;
    > li { overflow: hidden; }
  }
  .people {
    visibility: hidden;
    float: right;
    text-align: center;
    width: 525px;
    height: 185px;
    overflow: hidden;
    overflow-x: scroll;
    img { width: 90px; }
    > ul {
      .horizontal_gallery;
      overflow: hidden;
      width: 10000px;
      li { float: left; }
    }
    .full_name > * { display: block; }
  }
  .friendschart {
    overflow: hidden;
    
    height: 275px;
    iframe, .empty.chart { 
      margin-left: -50px;
    }
  }
}

.upcoming_parties_view {
  .party_list {
    float: left;
    width: 33%;
    border-right: 1px dotted grey;
    &:last-child { border-right: none; }
    h2 { margin: 0 0 0 25px; }
    ul { height: 125px; margin: 0 0 0 70px; }
  }
}

.bullet {
  background-image: url(../images/bullet.png);
  padding-left: 20px;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.notices {
  margin-left: 15px;
  .smiles_received, .smiles_left, .smile_matches > li {
    .bullet;
  }
}

.gallery_view {
  .notices { font-size: 14px; }
  .sortbar {
    float: right;
    margin-right: 15px;
    > * { display: inline-block; }
  }
  .gallery {
    .horizontal_gallery;
    clear: both;
    margin: 0 auto;
    > li { margin: 16px; }
  }
}

.invite_to_party_view {
  label, .name, .submit_button { float: left; }
  .name.autocomplete { width: 200px; height: 23px; }
  .autocomplete_list_item { padding: 0 12px; }
  .submit_button { height: 29px; }
}

form .hometown {
  > div {
    display: inline-block;
    label { margin: 0; font-weight: normal; }
  }
  input[name="hometown_city"] {
    width: 125px;
  }
}

.party_attendee {
  .caption { text-align: center; }
}
