body {
  overflow: hidden;
  text-align: center;
  background: #7d1729;
  font-family: Arial, sans-serif;
  color: white;
}

#landing {
  margin-top: 50px;
}

#countdown {
  position: absolute;
  overflow: hidden;
  top: 375px;
  left: 50%;
  margin-left: -292px;
  width: 584px;
  display: none;
  text-align: center;
}

.time_counter {
  overflow: hidden;
}

.wrap {
  overflow: hidden;
  float: left;
  margin: 0 20px;
}

.wrap > h3, .wrap > .digit {
  float: left;
  clear: both;
  width: 100%;
  margin:  0;
}

.counter .digit {
  overflow: hidden;
  float: left;
}