body {
	margin-left: ;
	margin-right: 0;
	width:63em;
}

#header {
	color: ;
	font-family: ;
	background-color: ;
	padding-bottom: ;
	padding-top: ;
	padding-left: ;
	font-size: ;
	width:;
	font-weight: ;
	letter-spacing: ;
}

.MyProfileLogOut {
	text-decoration:underline;
	color: ;
	padding-left:;
}

h1 {
	font-weight: ;
	border: ;
	width: 6.5em;
}

#PartyandDate {
	color: ;
	background-color: ;
	padding-top: ;
	padding-bottom: ;
	padding-left: ;
	margin-right: ;
	width:;
}

.SmileandMessages {
	padding-left:2em;
}

.Messages {
	text-align:right;
	text-decoration:underline;
	width:56em;
}

#photogallery {
	background-color: ;
	margin-right: ;
	margin-top: ;
	width: ;
}

.Person {
	float:left;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.underline {
	text-decoration:underline;
}
.clearboth {
	clear:both;
}

#InviteOthers {
	padding-left:;
	padding-top: ;
	padding-bottom:;
	background-color:;
}