.opacity(@opacity: 1) {
  /* Sensible browsers */
  opacity: @opacity;
  /* Netscape */
  -moz-opacity: @opacity;
  /* Safari 1.x */
  -khtml-opacity: @opacity;
  /* Satanic browsers */
  -ms-filter: %('alpha(opacity=%s)', @opacity * 100); // some IE versions
  filter: e(%('alpha(opacity=%s)', @opacity * 100));  // most other IE versions
}

.rotate(@deg:5deg){
  -o-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  transform: rotate(@deg);
}

.shadow(@x: 1px, @y: 1px, @blur: 3px, @spread: 1px, @color: #dedede) {
  -webkit-box-shadow: @x @y @blur @spread @color;
 -moz-box-shadow: @x @y @blur @spread @color;
  box-shadow: @x @y @blur @spread @color;
}

.shadow_inset(@x, @y, @blur, @spread, @color) {
    -webkit-box-shadow: inset @x @y @blur @spread @color;
    -moz-box-shadow: inset @x @y @blur @spread @color;
    -ms-box-shadow: inset @x @y @blur @spread @color;
    -o-box-shadow: inset @x @y @blur @spread @color;
    box-shadow: inset @x @y @blur @spread @color;
}

.border_radius(@r) {
    -webkit-border-radius: @r;
    -moz-border-radius: @r;
    -ms-border-radius: @r;
    -o-border-radius: @r;
    border-radius: @r;
}

// Multiple Border-Radii (CB) (all corners may have different radii)
.border_radius_multi(@topright: 10px, @bottomright: 10px, @bottomleft: 10px, @topleft: 10px) {
	-khtml-border-top-right-radius: @topright;
	-khtml-border-bottom-right-radius: @bottomright;
	-khtml-border-bottom-left-radius: @bottomleft;
	-khtml-border-top-left-radius: @topleft;

	-moz-border-top-right-radius: @topright;
	-moz-border-bottom-right-radius: @bottomright;
	-moz-border-bottom-left-radius: @bottomleft;
	-moz-border-top-left-radius: @topleft;

	-webkit-border-top-right-radius: @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius: @bottomleft;
	-webkit-border-top-left-radius: @topleft;

	border-top-right-radius: @topright;
	border-bottom-right-radius: @bottomright;
	border-bottom-left-radius: @bottomleft;
	border-top-left-radius: @topleft;
}

.green_button_style {
    background-color: #7FBF4D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border: 1px solid #63A62F;
    border-bottom: 1px solid #5B992B;

    .shadow_inset(0, 1px, 0, 0, #96cad);
    .border_radius(3px);

    color: white;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 5px 0 6px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4C9021;
    width: 150px;
    border-image: initial;
    &:hover {
        background-color: #76B347;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
        background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
        background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
        background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
        background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
        background-image: linear-gradient(top, #76b347, #5e9e2e);
        -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
        -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
        -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
        -o-box-shadow: inset 0 1px 0 0 #8dbf67;
        box-shadow: inset 0 1px 0 0 #8dbf67;
        cursor: pointer;
    }
}

.gallery {
    width: 100%;
    text-align: center;
    > ul {
        clear: both;
    }
    > ul > li {
        display: inline-block;
        vertical-align: top;
        margin: 15px;
        background-color: white;
    }
}

.arrow(@color: black, @size: 20px) {
    background: transparent;
    border-color: transparent transparent @color transparent;
    border-width: @size;
    border-style: solid;
    display: inline-block;
}

.comma_separated {
    > li { display: inline; }
    > li:after {
        content: ",";
    }
    > li:last-child:after {
        content: "";
    }
}

.file_input {
    position: relative;
    input[type="file"] {
        position: relative;
        text-align: right;
        z-index: 2;
        .opacity(0);
        width: 100%;
        height: 36px;
    }
    button {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }
}

.thumb(@size, @height) {
    overflow: hidden;
    width: @size;
    height: @height;
    > img {
        min-width: @size;
        min-height: @height;
    }
}
