@primary_color: #104e8b;
@light_color: #fafafa;
@button_color: #528036;
@selected_item_color: #F9EDBE;
@yellow: #ffcc66;
@red: #ff6a6a;
@sidebar_width: 235px;

@import 'elements.0000000021.less';

h1 {
    font-size: 32px;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    color: #333;
}

.dialog h1 {
    font-size: 24px;
}

.background_size() {
    -webkit-background-size: @arguments;
    -moz-background-size: @arguments;
    -o-background-size: @arguments;
    background-size: @arguments;
}

.date_tip {
    width: 150px;
    font-size: 18px;
    .tip(up, #333, white, 8px);
}

.tab_tip_wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    margin-right: -106px;
    z-index: 1000;
}

.tab_tip {
    @tab_tip_color: #f03d25;
    .tip(left, @tab_tip_color, white, 6px);
    background-color: #f03d25;
    width: 100px;
    position: relative;
    font-size: 12px;
    font-weight: bold;
}

/* global */

body {
    background-color: white;
}

label {
    font-weight: bold;
}

.site_shadow {
    .shadow(0, 1px, 2px, rgba(0,0,0,.15));
}

#page #content > .page_content {
    width: auto;
    padding: 50px;
}

#page #content > .mission_statement {
    font-size: 18px;
    p {
        margin: 12px 0;
    }
}

.vertical_gradient(@start: #000, @stop: #FFF) {
    background-color: (@start + @stop) / 2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background-image: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background-image: -moz-gradient(center top, @start 0%, @stop 100%);
}

.paint_button(@text_color, @border_color, @a, @b, @c, @d, @e, @f) {
    color: @text_color;
    border: solid 1px @border_color;
    .vertical_gradient(@a, @b);
    &:visited {
        color: @text_color;
    }
    &:hover {
        color: @text_color;
        .vertical_gradient(@c, @d);
    }
    &:active, &.pressed, &.selected, &.active {
        color: @text_color;
        .vertical_gradient(@e, @f);
    }
}

.orange_button {
    .paint_button(#fef4e9, #da7c0c, #faa51a, #f47a20, #f88e11, #f06015, #f47a20, #faa51a);
}

.green_button {
    .paint_button(white, #538312, #7db72f, #4e7d0e, #6b9d28, #436b0c, #4e7d0e, #7db72f);
}

.blue_button {
    @darker: 20%;
    .paint_button(white, darken(#0076a3, @darker), darken(#00adee, @darker),
                         darken(#0078a5, @darker), darken(#0095cc, @darker),
                         darken(#00678e, @darker), darken(#0078a5, @darker), darken(#00adee, @darker));
}

.light_blue_button {
    @darker: 0%;
    .paint_button(white, darken(#0076a3, @darker), darken(#00adee, @darker),
                         darken(#0078a5, @darker), darken(#0095cc, @darker),
                         darken(#00678e, @darker), darken(#0078a5, @darker), darken(#00adee, @darker));
}

.white_button {
    .paint_button(#606060, #b7b7b7, #fff, #ededed, #fff, #dcdcdc, #ededed, #fff);
    text-shadow: none;
}

.view_more, .view_less {
    font-weight: bold;
    font-size: 12px;
}

.view_less {
    display: block;
}

.button_style {
    .green_button;
    font: 14px/100% Arial, Helvetica, sans-serif;
    font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 8px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
    .border_radius(0.3em);
    .shadow(0 1px 2px rgba(0,0,0,.2));
   	&:hover {
   	    text-decoration: none;
   	}
   	&:active {
   	    position: relative;
   	    top: 1px;
   	}
}

.button {
    .button_style;
    .white_button;
}

input[type="submit"], button {
    .button;
}

.invited_by {
    font-size: 12px;
    font-style: italic;
    color: @red;
}

.going_to {
    .border_radius(8px);
    .site_shadow;
    margin: 4px;
    padding: 4px;
    background-color: white;
    color: @primary_color;
    border: 1px solid @primary_color;
    font-weight: bold;
    font-size: 13px;
}

.desktop .dialog {
    max-width: 800px;
}

.desktop .dialog.deal_dialog {
    max-width: 700px;
}

.dialog {
    padding: 0;
    background-color: @light_color;
    > h1 {
        background-color: @primary_color;
        border-bottom: 2px solid lighten(@primary_color, -5%);
        color: white;
        padding: 8px;
        font-weight: normal;
    }
    .notice {
        width: 100%;
        background-color: @light_color;
    }
    .dialog_body {
        margin: 15px 45px;
    }
    .dialog_loading {
        text-indent: -9999px;
        background: no-repeat url(/images/loading-message.gif) center center;
        width: 100px;
        height: 100px;
        padding: 25px;
        margin: auto;
    }
    .buttons input {
        .blue_button;
    }
    .buttons a {
        .button_style;
        .white_button;
    }
}

#home_page {
    text-align: center;
    color: white;
    overflow: hidden;
    height: 100%;
    background: black url(/images/georgetown.jpg?version=4) no-repeat center;
    .background_size(cover);
    .front_page_logo {
        display: block;
        width: 360px;
        margin: 30px auto 0 auto;
    }
    .home_center {
        width: 1000px;
        margin: 15px auto;
        position: relative;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.75);
    }
    img {
        max-width: 100%;
    }
    .login_button {
        position: absolute;
        right: 50px;
        bottom: 85px;
        text-align: center;
        display: block;
        font-size: 35px;
        color: white;
        text-decoration: none;
        &:hover {
            color: #ffcc66;
            text-decoration: underline;
        }
    }
    .login_button {
        @sprite_height: 48px;
        @sprite_normal_state: 0;
        @sprite_hover_state: @sprite_height * -1;
        @sprite_down_state: @sprite_height * -2;
        @sprite_clicked_state: @sprite_height * -3;
        background: url(../images/login_button.png?version=2) no-repeat;
        width: 251px;
        height: @sprite_height;
        text-indent: -9999px;
        margin: 15px auto 0 auto;
        &:hover {
            background-position: 0 @sprite_hover_state;
        }
        &.mousedown {
            background-position: 0 @sprite_down_state;
        }
        &.clicked {
            background-position: 0 @sprite_clicked_state;
            cursor: none;
        }
    }
}

#page {
    width: 900px;
    margin-left: @sidebar_width;
    #content {
        background-color: white;
        overflow: hidden;
        min-height: 900px;
        border-right: 1px solid grey;
    }
}

#right {
    position: fixed;
    top: 20px;
    right: 40px;
    width: 175px;
    height: 485px;
    border: 1px solid #bfbfbf;
	background-color: #f5f5f5;
	.date {
		text-align: center;
		font-size: 18px;
		margin: 10px 0 20px 0;
		border-bottom: 1px solid #DBDBDB;
		padding-bottom: 10px;
		color: black;
	}
	.profile_small {
		width: 125px;
		padding: 10px 0;
		margin: 20px auto;
	}
	a {
		.button_style;
		.green_button;
		padding: 5px;
		width: 115px;
		float: left;
		margin: 5px 0;
		img {
			margin-right: 5px;
		}
	}
	ul {
		margin: 25px auto;
		width: 127px;
	}
	.going_to {
		text-align: center;
		margin: auto;
		width: 125px;
	}
	.event_selection_summary {
		h3 {
			text-align: center;
			font-size: 14px;
			padding: 20px 0 5px 0;
			color: black;
			font-weight: normal;
			border-top: 1px solid #dbdbdb;
		}
	}
}

#footer {
    padding: 4px 0;
    text-align: center;
    font-weight: bold;
    color: white;
    a {
        color: white;
    }
}

.footer_links {
    display: inline-block;
    text-align: center;
    background-color: @primary_color;
    a {
        color: white;
    }
}

.debug_panel {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    max-height: 375px;
    .tab.selected {
        font-weight: bold;
    }
    &.collapsed {
        right: auto;
        .debug_bar .collapse {
            display: none;
        }
        .debug_body {
            display: none;
        }
    }
    &.expanded .debug_body {
        display: block;
    }
    .debug_bar {
        height: 18px;
    }
}

@note_height: 20px;
.note {
    font-size: 12px;
    line-height: @note_height;
    font-weight: bold;
    background-color: #faa51a;
    color: white;
    .border_radius(@note_height / 2);
}

#nav {
    width: @sidebar_width;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background-color: @primary_color;
    font-size: 20px;
    .logo {
        display: block;
        margin: 30px 20px;
    }
    .tabs a {
        font-size: 17px;
		display: block;
        float: right;
        width: 150px;
        padding: 15px 0 15px 20px;
        margin-bottom: 5px;
        color: white;
        text-decoration: none;
        &:hover { background-color: white; color: #444; }
        .border_radius_multi(0, 0, 8px, 8px);
        &.active {
            background-color: white;
            color: #444;
        }

        position: relative;
        .note {
            position: absolute;
            top: @note_height / -2;
        }
    }
}

h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }

dt { font-weight: bold; }
dd { margin-left: 8px; }

fieldset { border: 1px solid #333; padding:  20px; }
legend { font-size: 18px; }

ul > li {
  list-style: none;
}

ol > li {
  list-style-type: decimal;
}

td {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 15px;
}

.bottom_bar {
    position: fixed;
    z-index: 10000;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: @yellow;
    text-align: center;
    font-size: 18px;
    padding: 12px;
    color: #333;
    &.error {
        background-color: @red;
        color: white;
    }
}

#flash_message {
    .bottom_bar;
}

.definition {
    margin: 8px;
    padding: 12px 16px;
    background-color: #fefef2;
    text-align: left;
    .word {
        font-weight: bold;
    }
    .pronunciation {
        font-style: italic;
    }
    .part {
        font-weight: bold;
        font-style: italic;
    }
    ol {
        margin: 8px 25px 0 25px;
    }
    .site_shadow;
    float: left;
}

#events_date_selector {
    margin: 0 auto;
    overflow: hidden;
    a {
        float: left;
        display: block;
        text-align: center;
        width: 90px;
        height: 70px;
        overflow: hidden;
        margin: 0 6px;
        text-decoration: none;
    }
    .prev, .next {
        padding: 0;
        margin-top: 6px;
        text-indent: -9999px;
        width: 48px;
        height: 65px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
    .prev {
        background-image: url(../images/arrow_left.png);
		background-size: 35px;
    }
    .next {
        background-image: url(../images/arrow_right.png);
		background-size: 35px;
    }
    .scrollable {
        float: left;
        width: 715px;
        height: 80px;
        overflow: hidden;
        .items {
            float: left;
            width: 20000em;
            .transition(margin 300ms ease-in);
        }
        a {
            .scale(0.8);
            .opacity(0.8);
            .transition(-webkit-transform 300ms ease-in);
            background: url(/images/calendar.0000000002.png) no-repeat center;
            .day { margin-top: 25px; }
            .date { font-weight: bold; font-size: 16px; }
            &:hover {
                .opacity(1);
                background-image: url(/images/calendar_selected.0000000002.png);
            }
            &.active {
                .scale(1.1);
                .opacity(1);
                background-image: url(/images/calendar_selected.0000000002.png);
            }
        }
    }
}

.profile_networks {
    .comma_separated;
}

.event_day {
    clear: both;
}

.show_deal_link.mobile {
     .button_style;
     .orange_button;
     display: block;
     margin: 0 20% 15px 20%;
}

.event_day_summary {
    margin: 5px 12px;

    .event_name {
        text-align: right;
        font-weight: bold;
        width: 140px;
    }
    .event_friends {
        font-style: italic;
    }
    td {
        padding: 8px;
        border: none;
    }
}


.event_picker {
    text-align: center;
	text-align: center;
	margin: 15px auto;
	h1 {
        margin: 15px 8px 0 8px;
    }
    h3 {
        margin-top: 4px;
		margin-bottom: 12px;
		font-weight: normal;
		font-size: 14px;
    }
	.pre_event_selection {
		width: 664px;
		border: 1px solid @primary_color;
		margin: auto;
		margin-top: 20px;
	}
    .tabs {
		overflow: hidden;
		width: 664px;
		margin: auto;
        li {
            display: inline-block;
			float: left;
        }
        a {
			background-color: @primary_color;
			border: 1px solid white;
			border-top: 6px solid @primary_color;
			margin-top: 1px;
			color: white;
			font-size: 1.1em;
			width: 148px;
            padding: 6px 8px 8px 8px;
            display: block;
			border-radius: 0;
			-webkit-border-radius: 0;
            text-decoration: none;
		}
		a:hover {
				border-bottom: none;
				border-top: 6px solid black;
				margin-top: 1px;
		}
        .selected_container {
			a {
				border-bottom: none;
				border-top: 6px solid black;
				margin-top: 1px;
				}
			.arrow {
				display: block;
			}
        }
    }
    .undecided.pane {
        @border_color: #b5b5b5;
        background-color: white;

        width: 100%;
        max-width: 595px;
        margin: auto;
		margin-top: 8px;
		margin-bottom: 8px;
		background-color: white;

        text-align: left;
        padding: 25px;
        overflow: hidden;
        position: relative;
		border: 1px solid #b5b5b5;
        h2 {
            float: left;
            clear: left;
			margin-left: 10px;
        }
        .checkin_form {
            position: absolute;
            top: 25px;
            right: 25px;
        }
        .checkin_badge {
            .green_button;
            padding: 13px 32px;
        }
    }
    &.loading {
        background: url(/images/loading-message.gif) no-repeat center top;
        > * {
            visibility: hidden;
        }
    }
}

.event_selection {
    width: 95%;
    max-width: 400px;
    margin: 14px auto;
    background-color: @light_color;
    border: 1px solid darken(@light_color, 20%);
    overflow: hidden;
    .profile_small {
        margin: 15px;
        width: 115px;
        float: left;
    }
    .event_selection_summary {
        margin: 15px 0;
        float: left;
    }
    ul a {
        .button_style;
        .blue_button;
        display: block;
        margin: 8px 0;
    }
}


.event_list {
    @border_color: #b5b5b5;
    text-align: left;
    overflow: hidden;
    h3 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #b0b0b0;
    }
    ul.events {
        height: 152px;
        overflow-y: scroll;
        overflow-x: hidden;
		background-color: white;
        > li {
            border-bottom: 1px solid #b0b0b0;
        }
    }
    .event_option {
      overflow:  hidden;
      display: block;
      margin: 0 25px;
      width: 100%;
      position: relative;
      .radio {
          float: left;
          margin: 10px;
          display: none;
      }
      &.new_event {
          select {
            display: none;
          }
      }
      &.new_event .radio {
          margin: 14px 10px;
      }
      .place { width: 140px; float: left; margin: 10px; font-weight: bold; }
      .deal {
          width: 250px;
          float: left;
          margin: 10px;
          font-weight: normal;
      }
      &.new_event .badge {
          top: 8px;
      }
      .badge {
          float: right;
          margin-top: 4px;
          margin-right: 30px;
          .checkin_badge, .attending_badge, .add_event, .show_deal_link {
              .button_style;
              display: block;
              font-size: 12px;
              width: 60px;
              padding: 6px 12px;
              margin: 0 0 0 6px;
              float: left;
              &.event_invite_link {
                  .button_style;
                  .orange_button;
                  font-size: 12px;
                  padding: 6px 12px;
              }
          }
        input {
          width: 85px !important;
        }
      }
      .attending_badge {
      }
      .show_deal_link {
          .orange_button;
          float: left;
          font-size: 12px;
      }
    }
}

.contest_link {
    text-align: center;
    margin-top: 30px;
    a {
        .button_style;
        .white_button;
    }
    a, a:hover {
        background-image: url(/images/medal.png);
        background-repeat: no-repeat;
        background-position: 5px 50%;
        padding-left: 25px;
    }
    p {
        margin-top: 10px;
        font-size: 12px;
    }
}

.event_day_summary {
    position: relative;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    .event_gallery_message {
        position: absolute;
        top: 110px;
        left: 50%;
        margin-left: -205px;
        z-index: 1000;
    }
    .focused {
        background-color: #FFEC8B;
    }
}

.invite_to_form {
    margin-top: 5px;
    button, .invited {
        font-size: 12px;
        padding: 5px;
        display: block;
        width: 100%;
    }
    .invited {
        font-weight: bold;
        padding: 5px 0px;
        background-color: #FEF5CA;
        .border_radius(5px);
    }
}

.event_gallery_toolbar {
    font-weight: bold;
    background-color: white;
    border: 1px solid grey;
    width: 80%;
    margin-left: 10%;
}

.event_links {
    li {
        padding: 4px;
        margin: 4px;
        display: inline-block;
    }
    a {
        text-decoration: none;
        &:hover { text-decoration: underline; }
        &.selected { text-decoration: underline; }
    }
}

.gallery_filter {
    > div {
        display: inline-block;
        margin: 8px 4px 0 4px;
    }
    .search {
        background: url(/images/search.png) no-repeat center right;
    }
}

.profile {
    float: left;
    overflow: hidden;
    .send_message_link {
        margin-top: 10px;
        .button_style;
        .white_button;
        display: block;
        float: right;
    }
    .profile_inner {
        margin: 25px 50px;
        overflow: hidden;
    }
    section {
        float: left;
        clear: both;
        width: 100%;
        margin: 20px 0;
        > h3 {
            width: 100%;
            border-bottom: 1px solid grey;
            text-align: left;
            padding-bottom: 4px;
        }
        > h2 {
            margin-top: 8px;
            text-align: right;
            font-size: 16px;
        }
    }
    .checkins_section {
        font-size: 1em;
        .checkin {
            .site_shadow;
            display: block;
            margin: 16px 8px;
            overflow: hidden;
            cursor: pointer;
            text-decoration: none;
            color: #333;
            &:hover {
                background-color: @selected_item_color;
                text-decoration: underline;
            }
        }
        .date {
            width: 80px;
            font-weight: bold;
            border-right: 1px solid grey;
        }
        .date, .event {
            margin: 8px;
            float: left;
            display: block;
        }
    }
    .mutual_friends_section > ul,
    .mutual_friends_section > ul,
    .entourage_outgoing_requests > ul {
        .gallery;
    }
    .profile_pic {
        .site_shadow;
        float: left;
        overflow: hidden;
        padding: 15px;
        margin: 15px;
    }
    .profile_info {
        float: left;
        overflow: hidden;
        margin: 15px;

    }
    .profile_edit_picture_link {
        display: block;
        text-align: center;
    }
}

section.entourage {
    .entourage_request_link {
        .button_style;
        .white_button;
        margin: 8px;
        float: right;
        clear: right;
    }
    h2 {
        float: right;
        clear: right;
        margin-right: 8px;
    }
}

.entourage_requests .entourage_request_accept {
    margin-top: 8px;
    .accept, .ignore {
        .button_style;
        padding: 4px 8px;
        font-size: 12px;
    }
    .ignore {
        .white_button;
    }
}

.profile_edit_picture {
    overflow: hidden;
    .profile_pic {
        float: left;
    }
    .profile_pic_options {
        float: right;
        width: 200px;
        li {
            margin: 30px;
        }
    }
    .profile_pic_crop_form {
        float: left;
        clear: both;
        width: 100%;
        margin-top: 15px;
    }
    .profile_pic_upload_form button {
        width: 160px;
    }
    .profile_pic_facebook_form {
        width: 160px;
    }
}

.profile_small {
    padding: 15px;
    text-align: center;
    width: 130px;
    overflow: hidden;
    .site_shadow;
    background-color: white;
    position: relative;
    .transition(background-color 500ms ease-in);
    &.seen {
        //background-color: #caff70;
    }
    .profile_badge {
        .note;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 50px;
        background-color: #eee;
        color: #333;
        border: 1px solid #bbb;
        .site_shadow;
        &:empty {
            display: none;
        }
    }
    .profile_name {
        margin-top: 8px;
        font-weight: bold;
        height: 16px;
        overflow: hidden;
    }
    .profile_networks {
        height: 16px;
        overflow: hidden;
    }
}

.profile_pic_crop_form .coordinates {
    display: none;
}

.user_thumb {
    .thumb(100px, 100px);
}

.gallery_thumb {
    .thumb(105px, 140px);
    margin: auto;
    background: url(/images/spinner.gif) no-repeat center;
}

.dialog.invite_dialog {
    .dialog_body {
        margin: 0;
    }
    .dialog_buttons {
        display: none;
    }
}

.event_invite {
    .search {
        width: Fpx;
        margin: 8px 55px;
        padding: 4px;
        float: right;
        background: url(/images/search.png) no-repeat center right;
    }
    .profile_networks {
        font-weight: normal;
        margin-top: 5px;
    }
    .friends {
        background-color: white;
        padding-bottom: 43px;
    }
    fieldset {
        text-align: center;
        border: none;
        padding: 0;
        > ul {
            clear: both;
            height: 400px;
            overflow-x: hidden;
            overflow-y: scroll;
            border-top: 1px solid #e5e5e5;
            > li {
                .site_shadow;
                margin: 10px;
                padding: 10px 5px;
                width: 140px;
                text-align: center;
                display: inline-block;
                vertical-align: top;
                &.selected {
                    background-color: #FFEC8B;
                }
                position: relative;
                .note {
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    margin-left: -45px;
                    width: 90px;
                }
            }
        }
    }
    .user_thumb {
        margin: 6px auto;
    }
    .user_first_name, .user_last_name, input {
        display: inline-block;
    }
    .buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px;
        border-top: 1px solid grey;
        background-color: white;
    }
    .send_invites_button {
        padding: 8px;
    }
}

.dialog.deal_dialog {
    .dialog_body h1 {
        margin: 8px 0;
    }
    .dialog_body h3 {
        margin: 8px 0;
    }
    p {
        margin: 15px 5px;
    }
}

.deal_preview {
    position: relative;
    width: 450px;
    margin: auto;
    &.landscape { display: block; }
    &.portrait { display: none; }
    .phone {
        width: 100%;
    }
    .ticket {
        position: absolute;
        width: 300px;
        left: 70px;
        top: 20px;
        z-index: 2;
    }
    .edit_pic_link {
        left: 90px;
        top: 136px;
        width: 63px;
        padding: 4px;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        z-index: 3;
        color: white;
        background-color: #333;
        &:hover {
            background-color: @yellow;
            color: #333;
        }
    }
}

.show_color_option_link {
    background-color: white;
    color: black;
    padding: 3px;
    font-size: 10px;
    display: block;
    position: fixed;
    bottom: 0;
    bottom: 0;
}

.network_required_dialog .dialog_body {
    max-width: 400px;
    text-align: left;
    p {
        margin-top: 15px;
        font-weight: bold;
    }
    ol {
        margin-left: 30px;
    }
    li {
        list-style-type: decimal;
    }
}

#feedbackify .flink {
    visibility: hidden;
}

.invite_leaderboard {
    text-align: left;
    max-width: 550px;
    .contest_instructions {
        padding: 0 20px;
        h1, h2, h3 { color: #333; }
        h1 {
            background: url(/images/beer.png) no-repeat top right;
            margin-bottom: 15px;
        }
        .first { margin-left: 0; }
        .second { margin-left: 40px; }
        em {
            color: @red;
            font-style: normal;
        }
        .contest_rules {
            margin-top: 15px;
            padding: 15px;
            border: 1px solid grey;
        }
    }
    .current_rankings {
        padding: 8px 20px;
        .people {
            .comma_separated;
        }
    }
    ol {
        margin-left: 25px;
        li {
            margin: 4px 0;
        }
    }
}

.arrow {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;

	border-top: 12px solid @primary_color;
	
	margin: auto;
	
	display: none;
}

.explanation {
	text-align: left;
	margin-left: 25px;
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
	em {
		font-style: normal;
		text-decoration: underline;
	}
	strong {
		font-size: 12px;
		font-weight: normal;
	}
}

.logo_transparent {
	width:200px;
}
