@primary_color: #104e8b;
@button_color: #528036;
@yellow: #ffcc66;
@sidebar_width: 300px;

@import 'elements.0000000002.less';

.date_tip {
    width: 150px;
    text-align: center;
    position: relative;
    background-color: #333;
    color: white;
    font-size: 18px;
    .date_arrow {
        .arrow(#333, 10px);
        position: absolute;
        left: 50%;
        top: 0;
        margin-top: -20px;
        margin-left: -10px;
    }
    .date_content {
        padding: 4px;
    }
}

/* global */

body {
    background-color: @primary_color;
}

label {
    font-weight: bold;
}

.button {
    padding: 8px 12px;
    font-weight: bold;
}

input[type="submit"], button {
    .button;
}



.cell_phone_number {
    width: 125px;
}

#home_page {
    text-align: center;
    color: white;
    img {
        max-width: 100%;
        margin: auto;
    }
    .login_button {
        text-align: center;
        display: block;
        font-size: 35px;
        color: white;
        text-decoration: none;
        &:hover {
            color: #ffcc66;
            text-decoration: underline;
        }
    }
    .login_button {
        @sprite_height: 48px;
        @sprite_normal_state: 0;
        @sprite_hover_state: @sprite_height * -1;
        @sprite_down_state: @sprite_height * -2;
        background: url(../images/login_button.png) no-repeat;
        width: 251px;
        height: @sprite_height;
        text-indent: -9999px;
        margin: auto;
        &:hover {
            background-position: 0 @sprite_hover_state;
        }
        &.mousedown {
            background-position: 0 @sprite_down_state;
        }
    }
}

#page {
    width: 900px;
    margin-left: @sidebar_width;
    #content {
        background-color: white;
        overflow: hidden;
        min-height: 900px;
        > * {
          float: left;
          clear: both;
          width: 100%;
        }
        .create_event {
            .button_style;
            float: right;
        }
    }
}

#nav {
    width: @sidebar_width;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background-color: @primary_color;
    font-size: 20px;
    .logo {
        display: block;
        margin: 30px 20px;
    }
    .tabs a {
        display: block;
        float: right;
        width: 150px;
        padding: 20px 0 20px 20px;
        margin-bottom: 25px;
        color: white;
        text-decoration: none;
        &:hover { background-color: white; color: #444; }
        .border_radius_multi(0, 0, 8px, 8px);
        &.active {
            background-color: white;
            color: #444;
        }
    }
}

h1 {
    font-size: 24px;
    font-family: Helvetica, Arial;
    color: #333;
    text-shadow: white 1px 1px 0px;
}
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }

dt { font-weight: bold; }

fieldset { border: 1px solid #333; padding:  20px; }
legend { font-size: 18px; }

li {
  list-style: none;
}

td {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 15px;
}

#flash_message {
    position: fixed;
    z-index: 10000;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: @yellow;
    text-align: center;
    font-size: 18px;
    padding: 12px;
}

.button_style {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-left: 15px;
    font-size: 14px;
    background-color: @button_color;
    color: white;
    &:hover {
        background-color: lighten(@button_color, 10%)
    }
}

#events_date_selector {
    margin: 10px 30px 12px 30px;
    a {
        float: left;
        display: block;
        text-align: center;
        width: 90px;
        height: 70px;
        overflow: hidden;
        margin: 0 6px;
        text-decoration: none;
    }
    .prev, .next {
        padding: 0;
        margin-top: 6px;
        text-indent: -9999px;
        width: 48px;
        height: 65px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
    .prev {
        background-image: url(../images/arrow_left.png);
    }
    .next {
        background-image: url(../images/arrow_right.png);
    }
    .scrollable {
        float: left;
        width: 715px;
        overflow: hidden;
        .items {
            float: left;
            width: 20000em;
        }
        a {
            background: url(/images/calendar.png) no-repeat center;
            .day { margin-top: 25px; }
            .date { font-weight: bold; font-size: 16px; }
            &:hover {
                background-image: url(/images/calendar_selected.png);
            }
            &.active {
                background-image: url(/images/calendar_selected.png);
            }
        }
    }
}

.profile_networks {
    .comma_separated;
}

.event_list_wrapper {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.event_day .date_tip {
    margin: 0 auto;
}

.event_list {
    @border_color: #b5b5b5;
    width: 670px;
    margin: auto;
    text-align: left;
    .shadow(0.9px, 2px, 3px, 1px, #989898);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid @border_color;
    h1 {
        height: 70px;
        line-height: 70px;
        text-align: center;
        background: url(/images/h1_bg.png) repeat-x;
        border-bottom: 1px solid @border_color;
    }
    fieldset {
        border: none;
        padding: 0;
    }
    ul {
        height: 190px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    li {
        border-bottom: 1px solid #b0b0b0;
        &.selected { background-color: #F9EDBE; }
        &:hover { background-color: #F9EDBE; }
    }
    label {
      overflow:  hidden;
      display: block;
      margin: 0 25px;
      width: 100%;
      input { float: left; margin: 10px; }
      .place { width: 170px; float: left; margin: 10px; font-weight: bold; }
      .deal { width: 250px; float: left; margin: 10px; font-weight: normal; }
      .checkin_button {
          .green_button_style;
          width: 100px;
          float: left;
          font-size: 12px;
          margin-top: 5px;
          &.attending {
              background: none;
              background-color: lighten(#7FBF4D, 10%);
              border: 1px solid lighten(#7FBF4D, 10%);
          }
      }
    }
}

.show_deal_link {
    display: block;
    margin: 20px;
    font-size: 20px;
}

.event_gallery {
    .gallery;
    position: relative;
    text-align: center;
    border-top: 2px dotted grey;
    margin-top: 15px;
    padding-top: 15px;
    min-height: 600px;
    background-color: #fafafa;
    .event_gallery_message {
        position: absolute;
        top: 45px;
        left: 50%;
        margin-left: -205px;
    }
    .event_invite_link {
        .green_button_style;
        font-size: 18px;
        margin-top: 15px;
        color: white;
        text-decoration: none;
        display: block;
        float: right;
        margin-right: 30px;
        &:active, &:visited {
            color: white;
        }
    }
}

.profile {
    width: 80%;
    float: left;
    overflow: hidden;
    .profile_inner {
        margin: 25px 50px;
        overflow: hidden;
    }
    section {
        float: left;
        clear: both;
        width: 100%;
        margin-top: 20px;
        > h3 {
            width: 100%;
            border-bottom: 1px solid grey;
            text-align: left;
        }
    }
    .mutual_friends_section {
        .gallery;
    }
    .entourage_section {
        .gallery;
    }
    .profile_pic {
        float: left;
        overflow: hidden;
        margin: 15px;
    }
    .profile_info {
        float: left;
        overflow: hidden;
        margin: 15px;

    }
    .profile_edit_picture_link {
        display: block;
        text-align: center;
    }
}

.profile_edit_picture {
    max-width: 775px;
    overflow: hidden;
    .profile_pic {
        float: left;
    }
    .profile_pic_options {
        float: right;
        width: 200px;
        li {
            margin: 50px 50px;
        }
    }
    .profile_pic_crop_form {
        float: left;
        clear: both;
        width: 100%;
        margin-top: 15px;
    }
}

.profile_small {
    padding: 15px;
    text-align: center;
    width: 130px;
    overflow: hidden;
    .shadow;
    .profile_caption {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 4px;
    }
    .profile_name {
        margin-top: 8px;
        font-weight: bold;
        height: 16px;
        overflow: hidden;
    }
    .profile_networks {
        height: 16px;
        overflow: hidden;
    }
}

.profile_pic_crop_form .coordinates {
    display: none;
}

.user_thumb {
    .thumb(100px, 100px);
}

.gallery_thumb {
    .thumb(105px, 140px);
    margin: auto;
}

.event_invite fieldset {
    width: 600px;
    border: 1px solid #333;
    margin: 20px;
    padding: 20px;
    text-align: center;
    ul {
        height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    li {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        border: 1px solid grey;
        margin: 15px;
        padding: 15px;
        &.selected {
            background-color: #FFEC8B;
        }
    }
    .send_invites_button {
        padding: 8px;
    }
}

.dialog.deal_dialog {
    width: 500px;
    padding-bottom: 0px;
    h4 {
        margin-top: 15px;
    }
    .dialog_body {
        margin: 0;
    }
    .phone_number_field {
        margin: 15px 0;
    }
}

.deal_preview {
    position: relative;
    &.landscape { display: block; }
    &.portrait { display: none; }
    .phone {
    }
    .ticket {
        position: absolute;
        width: 195px;
        left: 150px;
        top: 15px;
        z-index: 2;
    }
}

.show_color_option_link {
    background-color: white;
    color: black;
    padding: 3px;
    font-size: 10px;
    display: block;
    position: fixed;
    bottom: 0;
    bottom: 0;
}
