@primary_color: #7d1729;
@button_color: #528036;
@sidebar_width: 300px;

body {
    background-color: @primary_color;
}

#page {
    width: 900px;
    margin-left: @sidebar_width;
    #content {
        background-color: white;
        overflow: hidden;
        padding: 10px;
        min-height: 900px;
        > * {
          float: left;
          clear: both;
        }
        .create_event {
            .button_style;
            float: right;
        }
    }
}

#nav {
    width: @sidebar_width;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background-color: @primary_color;
    font-size: 20px;
    .logo {
        margin: 30px 20px;
    }
    a {
        display: block;
        float: right;
        width: 150px;
        padding: 20px 0 20px 20px;
        margin-bottom: 25px;
        color: white;
        text-decoration: none;
        &:hover { background-color: white; color: #444; }
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .active {
        background-color: white;
        color: #444;
    }
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }

dt { font-weight: bold; }

fieldset { border: 1px solid #333; padding:  20px; }
legend { font-size: 18px; }

li {
  list-style: none;
}

td {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 15px;
}

.button_style {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-left: 15px;
    font-size: 14px;
    background-color: @button_color;
    color: white;
    &:hover {
        background-color: lighten(@button_color, 10%)
    }
}

#dates {
    margin-bottom: 25px;
    margin-left: 50px;
}

#dates > a {
    float: left;
    text-align: center;
    display: block;
    width: 90px;
    height: 70px;
    overflow: hidden;
    background: url(../images/calendar.png) no-repeat center;
    margin: 0 8px;
    text-decoration: none;
    .day { margin-top: 25px; }
    .date { font-weight: bold; font-size: 16px; }
    &:hover {
        background-image: url(../images/calendar_selected.png);
    }
    &.active {
        background-image: url(../images/calendar_selected.png);
    }
    &.prev, &.next {
        padding: 0;
        margin-top: 6px;
        text-indent: -9999px;
        width: 48px;
        height: 65px;
        background-repeat: no-repeat;
        border: none;
    }
    &.prev {
        background-image: url(../images/arrow_left.png);
    }
    &.next {
        background-image: url(../images/arrow_right.png);
    }
}

.event_list {
    width: 550px;
    margin: 0 140px;
    float: left;
    clear: both;
    border: 1px solid grey;
    ul {
        height: 190px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    li { width: 98%; }
    li:hover { background-color: #F9EDBE; }
    li.first label {
        border-top: 1px solid #b0b0b0;
    }
    label {
      overflow:  hidden;
      display: block;
      width: 100%;
      border-bottom: 1px solid #b0b0b0;
      input { float: left; margin: 10px; }
      .place { width: 150px; float: left; margin: 10px; font-weight: bold; }
      .deal { width: 200px; float: left; margin: 10px; }
      .help { width: 50px; float: left; margin: 10px; color: #b5b5b5; font-size: 12px; }
    }
}

.event_gallery {
    text-align: center;
    margin: 0 35px;
    h1 { margin-top: 15px; }
    li {
        display: inline-block;
        margin: 15px;
        padding: 15px;
        border: 1px solid grey;
        border-radius: 3px;
    }
    .send_message_link {
        display: block;
        margin-top: 4px;
        background: url(../images/message_icon.gif) center left no-repeat;
        padding-left: 16px;
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }
}

.event_invite {
    width: 600px;
    border: 1px solid #333;
    margin: 20px;
    padding: 20px;
    img { width: 75px; }
    text-align: center;
    li {
        text-align: center;
        display: inline-block;
        border: 1px solid grey;
        margin: 15px;
        padding: 15px;
    }
    .event_badge {
        display: block;
        border: 1px solid #CCC;
        padding: 3px 0px;
        width: 100%;
        text-decoration: none;
        border-radius: 2px;
    }
    .event_invite_link {
        .event_badge;
        background-color: #5d9ddd;
        color: white;
    }
    .event_invited_badge {
        .event_badge;
        background-color: #eeb44f;
        color: white;
    }
    .event_attending_badge {
        .event_badge;
        background-color: #5cb811;
        color: white;
    }
}
