@content_width: 320px;
@content_margin: 5px;
@primary_color: #104e8b;

@import 'elements.0000000001.less';

#nav {
    width: 100%;
    min-width: 320px;
    position: relative;
    float: left;
    .logo {
        float: left;
        margin: 6px 0 0px 6px;
    }
    .logo img {
        width: 150px;
        height: auto;
    }
    .tabs {
        float: right;
        .events_link, .admin_link {
            display: none;
        }
    }
    .tabs a {
        margin: 12px 6px;
        padding: 2px;
        font-size: 12px;
        float: left;
        width: auto;
        .border_radius(4px);
    }
}

.mobile .tab_tip_wrapper {
    bottom: 0;
    left: 50%;
    margin-top: 15px;
    margin-left: -50px;
}

.mobile .tab_tip {
    @tab_tip_color: #f03d25;
    .tip(up, @tab_tip_color, white, 6px);
}

#page {
    width: 100%;
    min-width: @content_width;
    float: left;
    clear: both;
    margin: 0;
}

#events_date_selector {
    margin: 0;
    a {
        margin: 0;
    }
    .items a {
        width: 75px;
        background-size: 75px;
    }
    .scrollable {
      float: left;
      width: 225px;
      overflow: hidden;
    }
    .prev, .next {
        width: 45px;
    }
}

.date_tip {
    font-size: 15px;
    font-weight: bold;
}

.event_list {
    width: 94%;
    margin-left: 3%;
    h1 {
        padding: 8px 0;
        font-size: 22px;
        span {
            display: block;
            font-size: 12px;
            line-height: 15px;
        }
    }
    ul.events {
        height: auto;
        overflow-x: visible;
        overflow-y: visible;
    }
    li {
        position: relative;
    }
    .event_option {
        margin: 0;
        padding: 4px 10px;
        min-height: 28px;
        &.new_event {
            padding-top: 8px;
            .inline_label {
                width: 155px;
            }
            .badge {
                top: 2px;
            }
        }
        .badge {
            position: absolute;
            top: 1px;
            right: 3px;
        }
        .place {
            margin: 0;
        }
        .deal {
            width: 170px;
            clear: left;
            margin: 0 0 0 8px;
            font-style: italic;
        }
    }
}

.event_gallery h1 {
    font-size: 22px;
}

.event_gallery .event_gallery_message {
    top: 75px;
    margin-left: -150px;
    width: 300px;
}

.deal_popup {
    padding: 0;
    h1, h2, h3, em, .phone_number_field, p, .edit_pic_link {
        display: none;
    }
    .dialog_body {
        margin: 0;
    }
    .deal_popup {
        background-color: @primary_color;
    }
    .deal_preview {
        overflow: hidden;
        .phone {
            display: none;
        }
        &.landscape .ticket {
            position: static;
            width: 300px;
            height: auto;
        }
        &.portrait .ticket {
            position: static;
            width: auto;
            height: 300px;
        }
    }
    .dialog_buttons {
        display: none;
    }
    input[type="submit"] {
        @size: 48px;
        width: @size;
        height: @size;
        top: 8px;
        left: 8px;
        border: none;
        background: url(/images/x.png) no-repeat center;
        text-indent: -9999px;
        position: absolute;
        z-index: 100;
    }
}

@media screen and (orientation:landscape) {
    #events_date_selector .scrollable {
        width: 377px;
    }
    .deal_preview {
        &.landscape { display: block; }
        &.portrait { display: none; }
    }
}

@media screen and (orientation:portrait) {
    .deal_preview {
        &.landscape { display: none; }
        &.portrait { display: block; }
    }
    .deal_popup input[type="submit"] {
        left: auto;
        top: 8px;
        right: 8px;
    }
}
