@content_width: 320px;
@content_margin: 5px;

@import 'elements.0000000001.less';

#nav {
    width: 100%;
    min-width: 320px;
    position: relative;
    float: left;
    .logo {
        float: left;
        margin: 6px 0 0px 6px;
    }
    .logo img {
        width: 150px;
        height: auto;
    }
    .tabs {
        overflow: hidden;
        float: right;
        .events_link, .profile_link, .admin_link {
            display: none;
        }
    }
    .tabs a {
        margin: 12px 6px;
        padding: 0;
        font-size: 12px;
        float: left;
        width: auto;
    }
}

#page {
    width: 100%;
    min-width: @content_width;
    float: left;
    clear: both;
    margin: 0;
}

#events_date_selector {
    margin: 0;
    a {
        margin: 0;
    }
    .items a {
        width: 75px;
        background-size: 75px;
    }
    .scrollable {
      float: left;
      width: 225px;
      overflow: hidden;
    }
    .prev, .next {
        width: 45px;
    }
}

@media screen and (orientation:landscape) {
    #events_date_selector .scrollable {
        width: 377px;
    }
    .deal_preview {
        &.landscape { display: block; }
        &.portrait { display: none; }
    }
}

@media screen and (orientation:portrait) {
    .deal_preview {
        &.landscape { display: none; }
        &.portrait { display: block; }
    }
}

.date_tip {
    font-size: 15px;
    font-weight: bold;
}

.event_list {
    width: 94%;
    margin-left: 3%;
    h1 {
        height: 65px;
        font-size: 16px;
        line-height: 21px;
        padding: 0;
        > span {
            display: block;
        }
    }
    ul {
        height: auto;
        overflow-x: visible;
        overflow-y: visible;
    }
    li {
        position: relative;
    }
    label {
        margin: 0;
        .place {
            margin: 8px 0 0 0;
        }
        .deal {
            width: 170px;
            margin: 0px 0 4px 35px;
            clear: left;
        }
        .checkin_button {
            margin: 0;
            position: absolute;
            right: 10px;
            top: 5px;
            width: 75px;
        }
    }
}

.event_gallery .event_gallery_message {
    margin-left: -150px;
    width: 300px;
}

.dialog.deal_dialog {
    height: 100%;
    width: 100%;
    padding: 0;
    .deal_preview {
        position: static;
        overflow: hidden;
        .phone {
            display: none;
        }
        .ticket {
            width: 100%;
            height: auto;
            position: static;
            z-index: 2;
        }
    }
    .dialog_buttons {
        display: none;
    }
    input[type="submit"] {
        width: 80px;
        padding: 4px 6px;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -40px;
        bottom: 2px;
    }
}
